<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Year</th>
        <th scope="col">Name</th>
        <th scope="col">Studio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1981–1986</td>
        <td>Urusei Yatsura</td>
        <td>Studio Pierrot</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>1989</td>
        <td>Ranma 1/2</td>
        <td>Tomomi Mochizuki</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>1989–1992</td>
        <td>Ranma 1/2 Nettōhen</td>
        <td>Studio Deen</td>
      </tr>
    </tbody>
  </table>
  