 <body>
    <div class="container">
        <h2>Gêneros</h2>
            <div class="row">
                <div class="col-4">
                    <button type="button" href="shoujo" class="btn btn-outline-secondary">Shoujo</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-secondary">Shonen</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-secondary">Mecha</button>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-secondary">Seinen</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-secondary">Drama</button>
                </div>
                <div class="col-4">
                    <button type="sub" class="btn btn-outline-secondary">Horror</button>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-secondary">Comedy</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-secondary">Gore</button>
                </div>
            </div>
    </div>
</body>    