<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Animes </h3>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <app-photo *ngFor="let photo of photos" url="photo.url"></app-photo *ngFor="let photo of photos">
            </div>
            <div class="card-block p-3">
                <h4 class="card-title">
                    <app-photo *ngFor="let photo of photos" title="photos.title"></app-photo>
                </h4>
                <p>
                    <app-photo *ngFor="let photo of photos" description="photos.description"></app-photo>
                </p>
                <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>
            </div>
        </div>



        <!--
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w185/tS8alvl1PtJQIR3eBMhQ2lqZCuf.jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">One Piece</h4>
                    <p class="card-text">Desesperados por dinheiro, os Chapéus de Palha entram numa corrida secreta entre tripulações piratas conhecidos como o Concurso beco sem saída. Lá, eles devem lutar contra os poderosos, incluindo um Ex-Marinheiro que se Tornou um Pirata, (Capitão Gasparde), e o caçador de recompensas que quer matá-lo. No entanto, com o esquema mortal de Gasparde, todos os seus adversários foram condenados desde o início?</p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w185/nhIkKuOpOXOE6ud0naCHTjRoOwq.jpg" alt="Card image cap">
                <div class="card-block p-3">
                    <h4 class="card-title">Death Note</h4>
                    <p class="card-text">Light Yagami é um genial estudante entediado com a vida que leva. Mas tudo está prestes a mudar. Light encontra um misterioso caderno chamado Death Note e descobre que com ele é possível matar quem quiser. O rapaz então decide varrer a escória da sociedade do planeta. Dotado de grande senso de justiça, ele começa a usar o caderno maldito para eliminar criminosos do mundo inteiro e começa a ganhar notoriedade na internet e nos demais meios de comunicação.</p>
                    <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>
                </div>
            </div>
        </div>
    </div> -->
    </div>