<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Animes </h3>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <app-photo *ngFor="let photo of photos" url="photo.url"></app-photo *ngFor="let photo of photos">
            </div>
            <div class="card-block p-3">
                <h4 class="card-title">
                    <app-photo *ngFor="let photo of photos" title="photos.title"></app-photo>
                </h4>
                <p>
                    <app-photo *ngFor="let photo of photos" description="photos.description"></app-photo>
                </p>
                <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>
            </div>
        </div>
    </div>